<!DOCTYPE html>
<html>
    <head>
        <link href="https://qwertious.github.io/php/style.css" rel="stylesheet">
        <title>Qwertious | <!--Title--></title>
    </head>
    <body>
        <header>
            <h1>QWERTIOUS</h1>
        </header>
        <nav>
            <object data="https://qwertious.github.io/php/navlinks.txt"></object>
            <!--Navlinks-->
        </nav>
        <h1><!--Title--></h1>
        <p><!--Webpage--></p>
        <footer>
            <object data="https://qwertious.github.io/php/footer.txt"></object>
            <!--References-->
            <!--More info-->
            <object data="https://qwertious.github.io/php/navlinks.txt"></object>
            <!--Navlinks-->
        </footer>
    </body>
</html>