<!DOCTYPE html>
<html>
    <head>
        <link href="./style.css" rel="stylesheet">
        <title>Qwertious | <!--Title--></title>
    </head>
    <body>
        <header class="zero">
            <h1>QWERTIOUS</h1>
        </header>
        <nav class="one">
            <object data="./navlinks.html"></object>
            <!--Navlinks-->
        </nav>
        <h1 class="zero"><!--Title--></h1>
        <p class="two"><!--Webpage--></p>
        <footer class="zero">
            <object data="./footer.html"></object>
            <!--References-->
            <!--More info-->
            <object data="./navlinks.html"></object>
            <!--Navlinks-->
        </footer>
    </body>
</html>