* {
    margin: auto;
    padding: 0;
    border: 0;
    font-family: "Cambria", Times, serif;
    max-width:100%;
    box-sizing: border-box;
    text-align: left;
}
h1 {
    font-size: 64px;
}
p {
    font-size: 32px;
}
a {
    font-size: 32px;
}
div {
    text-align: center;
    height: 50vh;
}
.zero {
    background-color: #ffffff;
}
.one {
    background-color: #ffc040;
}
.two {
    background-color: #0040c0;
}
nav {
    white-space: nowrap;
    
}
nav > * {
    display: inline-block;
 }